@import "../../variables.scss";
.service{
    display: flex;
    position: relative;
    background: $second_color;
    gap:0 20px;
    h2{
        margin: 0;
        color:#001D5B;
        font-weight: 700;
        font-size: 18px;
        line-height: 22.59px;
    }
    p{
        color:#697A9F;
        font-weight: 400;
        font-size: 12px;
    }
    padding:28px 56px 28px 28px;
    .gerb{
        position: absolute;
        right:0;
    }
}