@import "../../variables.scss";
#number-card{
    margin-bottom: 120px;
     border-radius: 8px;
     border: 1px #E4E4E4 solid;
     padding: 26px;
     width: 100%; 
    h5{
        font-size: 20px;
        line-height: 25.1px;

    }
    h1{
        color:$first-color;
        span{
            color:black;
        }
        font-size: 64px;
        line-height: 82.32px;
    }
}