*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: none; */
  font-family: "Mulish", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
}
.App {
  text-align: center;
}

