#map{
    margin-bottom: 120px;
    .map-div{
        text-align: center;
        img{
            display: inline-block;
            margin-bottom: 120px;
            width: 1024px;
        }
    }
    }
   